* {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  width: 100%;
  height: 100%;
}
#add-route {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 12px;
  z-index: 99;
}
#remove-route {
  position: absolute;
  top: 13px;
  left: 170px;
  padding: 12px;
  z-index: 99;
}
#isochrone {
  position:absolute;
  top: 13px;
  left: 310px;
  padding: 12px;
  z-index: 99;
}
#drivetime {
position: absolute;
top: 13px;
left: 20px;
padding: 12px;
z-index: 99;
}